.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-content {
  visibility: hidden;
  width: 300px;
  background-color: $blue;
  z-index: 1;
  color: $white;
  text-align: center;
  padding: 5px 10px;
  border-radius: 6px;

  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);

  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltip-content::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-right: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent $blue transparent;
}

.tooltip:hover .tooltip-content {
  visibility: visible;
  opacity: 1;
}