.field-password {
  .input-container {
    display: flex;

    .password-input {
      @extend .input;

      width: 65%;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
  }

  button {
    width: 20%;
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
    border: 2px solid $grey-light;
    outline: none;
  }

  .tooltip {
    display: flex;
    width: 15%;
    justify-content: center;
    font-size: rem(12px);

    p {
      color: $white;
      text-align: left;
    }

  }
}