.vertical-bar {
  background-color: $grey-medium;
  height: rem(40px);
  margin-right: rem(1px);
  width: rem(1px);
}

.fw-first-line {
  border-radius: 20px;
  box-shadow: 2px 2px 6px 0 $black-shadow;
  display: flex;
  justify-content: flex-start;
  margin-bottom: rem(32px);

  &.disabled {
    box-shadow: none;
  }

  &:focus-within {
    .vertical-bar {
      background-color: $primary;
      margin-right: 0;
      width: rem(2px);
    }
  }
}

/* @debt implementation "Gaël : should be within a dedicated field component" */
.fw-booking-text-filters-select {
  @include button();

  appearance: none;
  background: url(/icons/dropdown-disclosure-down-b.svg) no-repeat 92% 56%;
  border: 1px solid $grey-medium;
  border-radius: 20px 0 0 20px;
  border-right: none;
  height: rem(40px);
  outline: none;
  padding-left: rem(16px);
  width: rem(200px);

  &:focus {
    border-color: $primary;
    border-width: 2px;
    padding-left: rem(16px);
  }

  &:disabled {
    @include body-important();

    background-color: $grey-light;
    background-image: url(/icons/dropdown-disclosure-down-b-disabled.svg);
    border-color: $grey-light;
    color: $grey-dark;
    cursor: initial;
    opacity: 1;
  }
}

/* @debt implementation "Gaël : should be within a dedicated field component" */
.fw-booking-text-filters-input {
  @include body();

  border: 1px solid $grey-medium;
  border-left: none;
  border-radius: 0 20px 20px 0;
  flex-grow: 1;
  height: rem(40px);
  padding: rem(8px) rem(16px);

  &:focus {
    border-color: $primary;
    border-width: 2px;
    outline: none;
  }

  &:disabled {
    background-color: $grey-light;
    border-color: $grey-light;
    color: $grey-dark;
    opacity: 1;

    &::placeholder {
      color: $grey-dark;
    }
  }
}
